# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Data outputs
/data/
*.log

# Docker
*.pid
*.sock

# Logs
*.log
*.tmp
